---
layout: page
title: "About"
description: "「 Human dreams will never end 」"
header-img: "img/bg-about.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>



<br> <br>
<!-- Valine 评论框 start -->
{% if site.valine.enable %}
    {% include valine_comments.html %}
{% endif %}
<!-- Valine 评论框 end -->


<!-- disqus 公共JS代码 end -->
{% endif %}
