---
layout: page
title: "About"
description: "「 Human dreams will never end 」"
header-img: "img/bg-about.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>



{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<h4 align="left">「Disqus用户留言」：</h4>
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->
<br> <br>
<!-- Valine 评论框 start -->
{% if site.valine.enable %}
    {% include valine_comments.html %}
{% endif %}
<!-- Valine 评论框 end -->


<!-- disqus 公共JS代码 end -->
{% endif %}
