---
layout: page
title: "About"
description: "「 Human dreams will never end 」"
header-img: "img/bg-about.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<h3>更新记录：</h3>
<div style="background-color:#e8e6e1;
                          border-radius: 10px 10px 10px 10px;
                          -moz-border-radius: 10px 10px 10px 10px;
                          -webkit-border-radius: 10px 10px 10px 10px;
                          border: 0px solid #000000;
                          padding:1px 8px 1px 8px;"">
{% include timeline.html %}
</div>

<br> <br>
<!-- Valine 评论框 start -->
{% if site.valine.enable %}
    {% include valine_comments.html %}
{% endif %}
<!-- Valine 评论框 end -->


