

<h4 align="left">「游客用户留言」：</h4>
<div id="comments"></div>
    <!--Leancloud 操作库:-->
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <!--Valine 的核心代码库:-->
    <script src='//cdn.jsdelivr.net/gh/HCLonely/Valine@latest/dist/Valine.min.js'></script>
    <script>
         new Valine({
            av: AV,
            el: '#comments',
            app_id: '{{ site.valine.appid }}',
            app_key: '{{ site.valine.appkey }}',
            placeholder: '{{ site.valine.placeholder }}',
            notify: '{{ site.valine.notify }}',
            verify: '{{ site.valine.verify }}',
            recordIP: '{{ site.valine.recordIP }}',
            enableQQ: '{{ site.valine.enableQQ }}',
            avatar: '{{ site.valine.avatar }}',
            avatar_cdn: '{{ site.valine.avatar_cdn }}',
        })
    </script>

<style>
#veditor {
	background-image: url(https://cdn.jsdelivr.net/gh/drew233/cdn/20200409110727.webp);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: rgba(255, 255, 255, 0);
	resize: vertical
}


#veditor:focus{
	background-position-y: 200px;
	transition: all 0.2s ease-in-out 0s;
}


#vcomments .vheader .vnick {
      width: 31%;
      border: 2px solid #dedede;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px
}

#vcomments .vheader .vmail {
      width: 31%;
      border: 2px solid #dedede;
      margin-left: 34px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px
}

#vcomments .vheader .vlink {
      width: 31%;
      border: 2px solid #dedede;
      margin-left: 34px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px
}
</style>