---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head bgcolor="black">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Chen - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body bgcolor="black">
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<img width="175" height="175" style="border-radius:50%;" src="/img/TS.jpg">
				<h3>My Project Timeline</h3>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">




			<!--<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">？？？？？？？？？？</h2>
							<time>20??.??</time>
							<img src="./images/question.jpg">
							<ul>
								<li>
									?????????????????????????
								</li>
								<li class="skill">
									<span><b>?</b></span>
									<span class="link"><a target="_blank" href="">Try it</a></span>
								</li>
							</ul>
						</div>
				</li>-->

				<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">CNN Visualization</h2>
							<time>2021.02</time>
							<img src="./images/UNITY.png">
							<ul>
								<li>
									基于Unity的CNN可视化开发过程, 项目来自<a href="https://github.com/julrog/nn_vis">https://github.com/julrog/nn_vis</a> <br>
									点击查看<a href="http://visuality.at/">原作者Stefan Sietzen首页</a>。<br>
									点击查看<a href="https://chenyang-ece.github.io/2021/02/08/CNN-Visualization/">演示视频及说明文件</a>。<br>
									只是尝试着跑了一下py代码。可视化过程由Unity实现。

								</li>
								<li class="skill">
									<span><b>Python</b></span>
									<span class="link"><a target="_blank" href="https://github.com/chenyang-ece/nn_vis/tree/9f28a83280186fd112bf93cafc415548d15a0f27">Try it</a></span>
								</li>
							</ul>
						</div>
				</li>

				<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Brick Pattern Classification System based on ResNet50</h2>
							<time>2020.12</time>
							<img src="./images/brick.png">
							<ul>
								<li>
									机器学习项目<br>
									对数据集进行预处理, 划分训练、验证、测试集, 用双线性插值法修改图片样本,
									导入网络原作者训练好的模型, 使用迁移学习技术冻结模型卷积层参数, 添加并训练自定义全连接层来加速网络收敛,
									最终识别精度为97.5%。

								</li>
								<li class="skill">
									<span><b>Python</b></span>
									<span class="link"><a target="_blank" href="https://github.com/chenyang-ece/Brick-Pattern-Classification/tree/e333acd7ab7676e3f67755f49b2e8e73a8d32a2b">Try it</a></span>
								</li>
							</ul>
						</div>
				</li>

				<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Research on LTE Information Transmission Technology</h2>
							<time>2020.12</time>
							<img src="./images/OFDM.png">
							<ul>
								<li>
									无线通信项目<br>
									设计并模拟了一种应用了正交频分复用技术(OFDM)的信息传输系统, 逐步分析了各阶段信号的变化情况,
									探究了信号在加性高斯白噪声信道(AWGN)和瑞丽衰落信道(Rayleigh Fading)的传输特性,
									通过蒙特卡洛方法计算不同信噪比下系统误码率的变化。

								</li>
								<li class="skill">
									<span><b>MATLAB</b></span>
									<span class="link"><a target="_blank" href="https://github.com/chenyang-ece/LTE-OFDM/tree/04d94dd23604d597d71fd87292f816b16f83c1d8">Try it</a></span>
								</li>
							</ul>
						</div>
				</li>

				<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Hashtag Counter using Fibonacci Heap</h2>
							<time>2020.03</time>
							<img src="./images/heap.png">
							<ul>
								<li>
									数据结构项目<br>
									使用最大斐波那契堆实现的标签计数器。
								</li>
								<li class="skill">
									<span><b>Java</b></span>
									<span class="link"><a target="_blank" href="https://github.com/chenyang-ece/Hashtag-Counter-using-Fibonacci-Heap/tree/1faef0b231d7dcd40e59de3a40e92a9aa31d28de">Try it</a></span>
								</li>
							</ul>
						</div>
				</li>

				<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Face Recognition based on Enhanced LeNet5 </h2>
							<time>2020.04</time>
							<img src="./images/faceRecognition.jpg">
							<ul>
								<li>
									模式识别项目<br>基于改进LeNet5的人脸识别技术分析, 使用tensorflow搭建8层卷积神经网络得到识别准确率为94%。
								</li>
								<li class="skill">
									<span><b>Python</b></span>
									<span class="link"><a target="_blank" href="https://github.com/chenyang-ece/FaceRecognitionCNN/tree/fdeef5fba54f8e02eafdb0bd6861c62cd6263091">Try it</a></span>
								</li>
							</ul>
						</div>
				</li>

				<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Intelligent Granary Detection Device</h2>
							<time>2018.06</time>
							<img src="./images/粮仓.png">
							<ul>
								<li>
									本科毕业设计<br>
									基于51单片机和DHT11传感器的智能粮仓检测控制系统,
									主要对模型的温湿度进行检测, 根据设计的阈值调整控制风扇、加热器和报警灯。
								</li>
								<li class="skill">
									<span><b>SCM</b></span>
									<span class="link"><b>File Missing</b></span>
								</li>
							</ul>
						</div>
				</li>

				<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">基于ARM的新型多路环境温度检测装置</h2>
							<time>2017.12</time>
							<img src="./images/patent.png">
							<ul>
								<li>
									实用新型专利 : CN206696670U, 第一发明人。<br>
									设计并使用Proteus模拟了检测装置的控制模块 (装置共包含控制, 散热, 电源和外壳四个模块),
									使用STM32f107芯片实现了温度信息采集、 加热、 报警等功能,
									对装置硬件I/O资源进行修改以实现多路检测 (最多可实现160个监测点同时工作),
									与其他成员共同完成了整个装置的仿真和焊接.

								</li>
								<li class="skill">
									<span><b>ARM</b></span>
									<span class="link"><a target="_blank" href="https://patents.google.com/patent/CN206696670U/zh">View</a></span>
								</li>
							</ul>
						</div>
				</li>

				<li>
						<div class="cbp_tmlabel">
							<h2 id="boxoffice">Rush Answer Machine</h2>
							<time>2016.12</time>
							<img src="./images/抢答器.png">
							<ul>
								<li>
									本科数电课设<br>一个Multisim实现的多路抢答器仿真。
								</li>
								<li class="skill">
									<span><b>SCM</b></span>
									<span class="link"><a target="_blank" href="https://github.com/chenyang-ece/Rush-Answer-Machine/tree/2a738bdc914b935ab56e108f4e0242b495809b22">Try it</a></span>
								</li>
							</ul>
						</div>
				</li>




				</ul><br><br><hr>
{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<h4 align="left">「Disqus用户留言」：</h4>
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->
<br> <br>
<!-- Valine 评论框 start -->
{% if site.valine.enable %}
    {% include valine_comments.html %}
{% endif %}
<!-- Valine 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

			</div>
		</div>

	</body>
</html>
